<a href="https://colab.research.google.com/github/AlexisSchockaert/Projet_2_Film/blob/Branche_Alexis/title_basics_version_finale.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

In [ ]:
df_title_Basics = pd.read_csv("https://datasets.imdbws.com/title.basics.tsv.gz", sep = "\t")
print(df_title_Basics.head().to_markdown())

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

|    | tconst    | titleType   | primaryTitle           | originalTitle          |   isAdult |   startYear | endYear   |   runtimeMinutes | genres                   |
|---:|:----------|:------------|:-----------------------|:-----------------------|----------:|------------:|:----------|-----------------:|:-------------------------|
|  0 | tt0000001 | short       | Carmencita             | Carmencita             |         0 |        1894 | \N        |                1 | Documentary,Short        |
|  1 | tt0000002 | short       | Le clown et ses chiens | Le clown et ses chiens |         0 |        1892 | \N        |                5 | Animation,Short          |
|  2 | tt0000003 | short       | Pauvre Pierrot         | Pauvre Pierrot         |         0 |        1892 | \N        |                4 | Animation,Comedy,Romance |
|  3 | tt0000004 | short       | Un bon bock            | Un bon bock            |         0 |        1892 | \N        |               12 | Animation,Short          |
|  4 | tt0000005 | short       | Blacksmith Scene       | Blacksmith Scene       |         0 |        1893 | \N        |                1 | Comedy,Short             |

In [ ]:
# Remplacer "\N" par "None" dans la série "startYear"
df_title_Basics['startYear'].replace({r'\N': None},inplace =True)

In [ ]:
# Créer un df à partir du précédent en ne conservant que les données non nulles de la colonnes "startYear" 
df_title_Basics2=df_title_Basics[pd.notnull(df_title_Basics['startYear'])]

In [ ]:
df_title_Basics2['startYear'].value_counts()

2021    434107
2018    423667
2017    420426
2019    412271
2016    398875
         ...
1882         2
1881         2
1874         1
1883         1
1885         1
Name: startYear, Length: 150, dtype: int64

In [ ]:
print(df_title_Basics2.head().to_markdown())

|    | tconst    | titleType   | primaryTitle           | originalTitle          |   isAdult |   startYear | endYear   |   runtimeMinutes | genres                   |
|---:|:----------|:------------|:-----------------------|:-----------------------|----------:|------------:|:----------|-----------------:|:-------------------------|
|  0 | tt0000001 | short       | Carmencita             | Carmencita             |         0 |        1894 | \N        |                1 | Documentary,Short        |
|  1 | tt0000002 | short       | Le clown et ses chiens | Le clown et ses chiens |         0 |        1892 | \N        |                5 | Animation,Short          |
|  2 | tt0000003 | short       | Pauvre Pierrot         | Pauvre Pierrot         |         0 |        1892 | \N        |                4 | Animation,Comedy,Romance |
|  3 | tt0000004 | short       | Un bon bock            | Un bon bock            |         0 |        1892 | \N        |               12 | Animation,Short          |
|  4 | tt0000005 | short       | Blacksmith Scene       | Blacksmith Scene       |         0 |        1893 | \N        |                1 | Comedy,Short             |

In [ ]:
# Transformer les données de la colonne "startYear" en int
df_title_Basics2['startYear'] = df_title_Basics2['startYear'].astype(int)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
# Remplacer "\N" par "None" dans la série "startYear"
df_title_Basics2['runtimeMinutes'].replace({r"\N" : None}, inplace = True)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [ ]:
# Créer un df à partir du précédent en ne conservant que les données non nulles de la colonnes "runtimeMinutes" 
df_title_Basics3 = df_title_Basics2[pd.notnull(df_title_Basics2['runtimeMinutes'])]

In [ ]:
# Transformer les données de la colonne "runtimeMinutes" en int
df_title_Basics3['runtimeMinutes'] = df_title_Basics3['runtimeMinutes'].astype(int)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
df_title_Basics3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2478655 entries, 0 to 9313428
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       int64
 6   endYear         object
 7   runtimeMinutes  int64
 8   genres          object
dtypes: int64(2), object(7)
memory usage: 189.1+ MB

In [ ]:
# Remplacer "\N" par "None" dans la série "startYear"
df_title_Basics3['isAdult'].replace({r'\N': None},inplace =True)

In [ ]:
# Créer un df à partir du précédent en ne conservant que les données non nulles de la colonnes "isAdult" 
df_title_Basics4=df_title_Basics3[pd.notnull(df_title_Basics3['isAdult'])]

In [ ]:
df_title_Basics5 = df_title_Basics4[df_title_Basics4['isAdult']==False]

In [ ]:
print(df_title_Basics5.head())

      tconst titleType            primaryTitle           originalTitle  \
0  tt0000001     short              Carmencita              Carmencita
1  tt0000002     short  Le clown et ses chiens  Le clown et ses chiens
2  tt0000003     short          Pauvre Pierrot          Pauvre Pierrot
3  tt0000004     short             Un bon bock             Un bon bock
4  tt0000005     short        Blacksmith Scene        Blacksmith Scene

  isAdult  startYear endYear  runtimeMinutes                    genres
0       0       1894      \N               1         Documentary,Short
1       0       1892      \N               5           Animation,Short
2       0       1892      \N               4  Animation,Comedy,Romance
3       0       1892      \N              12           Animation,Short
4       0       1893      \N               1              Comedy,Short

In [ ]:
df_title_Basics5.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2358644 entries, 0 to 9313428
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       int64
 6   endYear         object
 7   runtimeMinutes  int64
 8   genres          object
dtypes: int64(2), object(7)
memory usage: 180.0+ MB

In [ ]:
print(df_title_Basics5.head())

      tconst titleType            primaryTitle           originalTitle  \
0  tt0000001     short              Carmencita              Carmencita
1  tt0000002     short  Le clown et ses chiens  Le clown et ses chiens
2  tt0000003     short          Pauvre Pierrot          Pauvre Pierrot
3  tt0000004     short             Un bon bock             Un bon bock
4  tt0000005     short        Blacksmith Scene        Blacksmith Scene

  isAdult  startYear endYear  runtimeMinutes                    genres
0       0       1894      \N               1         Documentary,Short
1       0       1892      \N               5           Animation,Short
2       0       1892      \N               4  Animation,Comedy,Romance
3       0       1892      \N              12           Animation,Short
4       0       1893      \N               1              Comedy,Short

In [ ]:
condition1 = df_title_Basics5['startYear']>=1990
# print(df_title_Basics3[condition1])

condition2 = df_title_Basics5['startYear']<2000
# print(df_title_Basics3[condition1])

condition1et2 = (condition1) & (condition2)

df_title_Basics6 = df_title_Basics5[condition1et2]

print((df_title_Basics6).head().to_markdown())

|       | tconst    | titleType   | primaryTitle                   | originalTitle                  |   isAdult |   startYear | endYear   |   runtimeMinutes | genres                |
|------:|:----------|:------------|:-------------------------------|:-------------------------------|----------:|------------:|:----------|-----------------:|:----------------------|
| 15482 | tt0015724 | movie       | Dama de noche                  | Dama de noche                  |         0 |        1993 | \N        |              102 | Drama,Mystery,Romance |
| 40127 | tt0040844 | short       | Crossroads of Laredo           | Crossroads of Laredo           |         0 |        1995 | \N        |               30 | Short,Western         |
| 58184 | tt0059325 | movie       | Born in '45                    | Jahrgang 45                    |         0 |        1990 | \N        |              100 | Drama,Romance         |
| 58738 | tt0059900 | movie       | Wenn du groß bist, lieber Adam | Wenn du groß bist, lieber Adam |         0 |        1990 | \N        |               78 | Drama,Fantasy         |
| 63866 | tt0065188 | movie       | Vojtech, receny sirotek        | Vojtech, receny sirotek        |         0 |        1990 | \N        |               80 | Drama                 |

In [ ]:
print(df_title_Basics6['genres'].value_counts())

Drama                          16610
Drama,Romance                  15405
Comedy                         12934
Documentary                    11764
Short                           9896
                               ...
Animation,Documentary,Music        1
Action,Biography,Western           1
Family,Musical,Romance             1
Documentary,Family,Western         1
Drama,Music,Thriller               1
Name: genres, Length: 1070, dtype: int64

In [ ]:
print(df_title_Basics6['titleType'].value_counts())

tvEpisode       95961
movie           31131
short           21405
tvMovie         12550
tvSeries         9860
video            9597
tvSpecial        1759
tvMiniSeries     1542
tvShort           939
videoGame          38
Name: titleType, dtype: int64

In [ ]:
# Créer un df à partir du précédent en ne conservant que "movie" de la colonnes "titleType" 
condition3 = df_title_Basics5.titleType.isin(['movie'])
df_title_Basics7 = df_title_Basics6[condition3]
print((df_title_Basics7).head().to_markdown())

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until

|       | tconst    | titleType   | primaryTitle                   | originalTitle                  |   isAdult |   startYear | endYear   |   runtimeMinutes | genres                |
|------:|:----------|:------------|:-------------------------------|:-------------------------------|----------:|------------:|:----------|-----------------:|:----------------------|
| 15482 | tt0015724 | movie       | Dama de noche                  | Dama de noche                  |         0 |        1993 | \N        |              102 | Drama,Mystery,Romance |
| 58184 | tt0059325 | movie       | Born in '45                    | Jahrgang 45                    |         0 |        1990 | \N        |              100 | Drama,Romance         |
| 58738 | tt0059900 | movie       | Wenn du groß bist, lieber Adam | Wenn du groß bist, lieber Adam |         0 |        1990 | \N        |               78 | Drama,Fantasy         |
| 63866 | tt0065188 | movie       | Vojtech, receny sirotek        | Vojtech, receny sirotek        |         0 |        1990 | \N        |               80 | Drama                 |
| 66087 | tt0067460 | movie       | My Kingdom for...              | My Kingdom For...              |         0 |        1995 | \N        |               85 | Documentary,Sport     |

In [ ]:
# verifier si chaque tconst est bien distinct
count_movie_id = df_title_Basics7['tconst'].value_counts()
print(count_movie_id)

tt0015724    1
tt0298344    1
tt0299759    1
tt0299693    1
tt0299674    1
            ..
tt0119174    1
tt0119173    1
tt0119171    1
tt0119170    1
tt9916162    1
Name: tconst, Length: 31131, dtype: int64

In [ ]:
df_title_Basics7.shape

(31131, 9)

In [ ]:
# Suppression des colonnes "isadult" et "endYear" et 'titleType'
df_title_Basics7.drop(columns =['isAdult', 'endYear', 'titleType'], inplace = True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
df_title_Basics7.sort_values(['startYear'], ascending=True, inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [ ]:
print((df_title_Basics7).head().to_markdown())

|         | tconst    | primaryTitle                             | originalTitle                            |   startYear |   runtimeMinutes | genres             |
|--------:|:----------|:-----------------------------------------|:-----------------------------------------|------------:|-----------------:|:-------------------|
| 6016440 | tt2539182 | Code Name 348: Onna keiji sashiba        | Code Name 348: Onna keiji sashiba        |        1990 |               80 | Crime              |
|  415724 | tt0433264 | Een wolk van groen                       | Een wolk van groen                       |        1990 |               87 | Documentary        |
|  414943 | tt0432459 | Young Shim                               | Yeongshimi                               |        1990 |              100 | Drama,Romance      |
|  414616 | tt0432116 | Supermarket                              | Supermarket                              |        1990 |              104 | Comedy,Crime,Drama |
|  414186 | tt0431682 | Chernaya magiya, ili svidanie s dyavolom | Chernaya magiya, ili svidanie s dyavolom |        1990 |               99 | Drama              |

In [ ]:
print(df_title_Basics7['genres'].value_counts())

Drama                          5157
Documentary                    4302
\N                             3267
Comedy                         2265
Comedy,Drama                    986
                               ...
Adventure,Documentary,Drama       1
Biography,Western                 1
Animation,Music                   1
Drama,Mystery,War                 1
Comedy,Horror,Music               1
Name: genres, Length: 590, dtype: int64

In [ ]:
# Remplacer "\N" par "unknown" (None ne fonctionne pas) dans la série "startYear"
df_title_Basics7['genres'] = df_title_Basics7.genres.str.replace('\\N','unknown',regex = False)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
# Créer un df à partir du précédent en ne conservant que les données différentes de "unknown" de la colonnes "genres" 
# test = df_title_Basics7[df_title_Basics7['genres'] != 'unknown']
# test = df_title_Basics7[df_title_Basics7['genres'] != 'unknown']
df_title_Basics8 = df_title_Basics7[df_title_Basics7['genres'] != 'unknown']

In [ ]:
print(df_title_Basics8.head())

            tconst                              primaryTitle  \
6016440  tt2539182         Code Name 348: Onna keiji sashiba
415724   tt0433264                        Een wolk van groen
414943   tt0432459                                Young Shim
414616   tt0432116                               Supermarket
414186   tt0431682  Chernaya magiya, ili svidanie s dyavolom

                                    originalTitle  startYear  runtimeMinutes  \
6016440         Code Name 348: Onna keiji sashiba       1990              80
415724                         Een wolk van groen       1990              87
414943                                 Yeongshimi       1990             100
414616                                Supermarket       1990             104
414186   Chernaya magiya, ili svidanie s dyavolom       1990              99

                     genres
6016440               Crime
415724          Documentary
414943        Drama,Romance
414616   Comedy,Crime,Drama
414186                Drama

In [ ]:
# test = df_title_Basics8['genres'].str.split(',')
# test = df_title_Basics8['genres'].str.split(',')
df_title_Basics8['genres'] = df_title_Basics8['genres'].str.split(',')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
print(df_title_Basics8.head())

            tconst                              primaryTitle  \
6016440  tt2539182         Code Name 348: Onna keiji sashiba
415724   tt0433264                        Een wolk van groen
414943   tt0432459                                Young Shim
414616   tt0432116                               Supermarket
414186   tt0431682  Chernaya magiya, ili svidanie s dyavolom

                                    originalTitle  startYear  runtimeMinutes  \
6016440         Code Name 348: Onna keiji sashiba       1990              80
415724                         Een wolk van groen       1990              87
414943                                 Yeongshimi       1990             100
414616                                Supermarket       1990             104
414186   Chernaya magiya, ili svidanie s dyavolom       1990              99

                         genres
6016440                 [Crime]
415724            [Documentary]
414943         [Drama, Romance]
414616   [Comedy, Crime, Drama]
414186                  [Drama]

In [ ]:
serie_explode = df_title_Basics8.genres.explode()

In [ ]:
print(serie_explode.value_counts())

Drama          12678
Comedy          6834
Documentary     5211
Action          3967
Romance         3168
Crime           2806
Thriller        2523
Horror          1409
Adventure       1228
Fantasy          970
Family           944
Mystery          854
Sci-Fi           717
Biography        701
History          608
Music            585
War              471
Animation        434
Musical          290
Sport            264
Western           99
Reality-TV         6
Talk-Show          5
Adult              4
News               2
Short              2
Name: genres, dtype: int64

In [ ]:
df_title_Basics8.to_csv('/content/drive/MyDrive/2209-Data/Projets/Projet2/RAM/En_cours/clean_dataset/alexis_title_basics_v1.csv', index=False)