<a href="https://colab.research.google.com/github/AlexisSchockaert/Projet_2_Film/blob/Branche_Alexis/title_basics_v1_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd

In [ ]:
import warnings
warnings.filterwarnings("ignore")

In [ ]:
df_title_Basics = pd.read_csv("https://datasets.imdbws.com/title.basics.tsv.gz", sep = "\t")

In [ ]:
print(df_title_Basics.head().to_markdown())

In [ ]:
# Remplacer "\N" par "None" dans la série "startYear"
df_title_Basics['startYear'].replace({r'\N': None},inplace =True)

In [ ]:
# Créer un df à partir du précédent en ne conservant que les données non nulles de la colonnes "startYear" 
df_title_Basics2=df_title_Basics[pd.notnull(df_title_Basics['startYear'])]

In [ ]:
df_title_Basics2['startYear'].value_counts()

2021    433672
2018    423596
2017    420345
2019    412182
2016    398836
         ...
1882         2
1881         2
1874         1
1883         1
1885         1
Name: startYear, Length: 150, dtype: int64

In [ ]:
# Transformer les données de la colonne "startYear" en int
df_title_Basics2['startYear'] = df_title_Basics2['startYear'].astype(int)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
# df_title_Basics2['startYear'] = df_title_Basics2['startYear'].apply(lambda x: eval(x.strip()))

"""
def convert_type(x):
  return eval(x.strip())
"""

In [ ]:
# Remplacer "\N" par "None" dans la série "startYear"
df_title_Basics2['runtimeMinutes'].replace({r"\N" : None}, inplace = True)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [ ]:
# Créer un df à partir du précédent en ne conservant que les données non nulles de la colonnes "runtimeMinutes" 
df_title_Basics3 = df_title_Basics2[pd.notnull(df_title_Basics2['runtimeMinutes'])]

In [ ]:
# Transformer les données de la colonne "runtimeMinutes" en int
df_title_Basics3['runtimeMinutes'] = df_title_Basics3['runtimeMinutes'].astype(int)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
df_title_Basics3.info()

In [ ]:
# Remplacer "\N" par "None" dans la série "startYear"
df_title_Basics3['isAdult'].replace({r'\N': None},inplace =True)

In [ ]:
# Créer un df à partir du précédent en ne conservant que les données non nulles de la colonnes "isAdult" 
df_title_Basics4=df_title_Basics3[pd.notnull(df_title_Basics3['isAdult'])]

In [ ]:
df_title_Basics5 = df_title_Basics4[df_title_Basics4['isAdult']==False]

In [ ]:
print(df_title_Basics5.head())

In [ ]:
df_title_Basics5.info()

In [ ]:
print(df_title_Basics5.head())

In [ ]:
condition1 = df_title_Basics5['startYear']>=1990
# print(df_title_Basics3[condition1])

condition2 = df_title_Basics5['startYear']<2000
# print(df_title_Basics3[condition1])

condition1et2 = (condition1) & (condition2)

df_title_Basics6 = df_title_Basics5[condition1et2]

print((df_title_Basics6).head().to_markdown())

|       | tconst    | titleType   | primaryTitle                   | originalTitle                  |   isAdult |   startYear | endYear   |   runtimeMinutes | genres                |
|------:|:----------|:------------|:-------------------------------|:-------------------------------|----------:|------------:|:----------|-----------------:|:----------------------|
| 15482 | tt0015724 | movie       | Dama de noche                  | Dama de noche                  |         0 |        1993 | \N        |              102 | Drama,Mystery,Romance |
| 40127 | tt0040844 | short       | Crossroads of Laredo           | Crossroads of Laredo           |         0 |        1995 | \N        |               30 | Short,Western         |
| 58184 | tt0059325 | movie       | Born in '45                    | Jahrgang 45                    |         0 |        1990 | \N        |              100 | Drama,Romance         |
| 58738 | tt0059900 | movie       | Wenn du groß bist, lieber Adam | Wenn du groß bist, lieber Adam |         0 |        1990 | \N        |               78 | Drama,Fantasy         |
| 63866 | tt0065188 | movie       | Vojtech, receny sirotek        | Vojtech, receny sirotek        |         0 |        1990 | \N        |               80 | Drama                 |

In [ ]:
print(df_title_Basics6['genres'].value_counts())

Drama                          16629
Drama,Romance                  15364
Comedy                         12934
Documentary                    11763
Short                           9896
                               ...
Animation,Documentary,Music        1
Action,Biography,Western           1
Family,Musical,Romance             1
Documentary,Family,Western         1
Drama,Music,Thriller               1
Name: genres, Length: 1070, dtype: int64

In [ ]:
print(df_title_Basics6['titleType'].value_counts())

tvEpisode       95930
movie           31123
short           21403
tvMovie         12549
tvSeries         9859
video            9594
tvSpecial        1758
tvMiniSeries     1542
tvShort           939
videoGame          38
Name: titleType, dtype: int64

In [ ]:
# Créer un df à partir du précédent en ne conservant que "movie" de la colonnes "titleType" 
condition3 = df_title_Basics5.titleType.isin(['movie'])
df_title_Basics7 = df_title_Basics6[condition3]

In [ ]:
print((df_title_Basics7).head().to_markdown())

In [ ]:
# verifier si chaque tconst est bien distinct
count_movie_id = df_title_Basics7['tconst'].value_counts()
print(count_movie_id)

In [ ]:
df_title_Basics7.shape

(31123, 9)

In [ ]:
# Suppression des colonnes "isadult" + "endYear" + "titleType"
df_title_Basics7.drop(columns =['isAdult', 'endYear', 'titleType'], inplace = True)

In [ ]:
df_title_Basics7.sort_values(['startYear'], ascending=True, inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [ ]:
print((df_title_Basics7).head().to_markdown())

|         | tconst    | primaryTitle                      | originalTitle                     |   startYear |   runtimeMinutes | genres            |
|--------:|:----------|:----------------------------------|:----------------------------------|------------:|-----------------:|:------------------|
| 6010962 | tt2539182 | Code Name 348: Onna keiji sashiba | Code Name 348: Onna keiji sashiba |        1990 |               80 | Crime             |
| 5402844 | tt2113678 | Hick's Last Stand                 | Hick's Last Stand                 |        1990 |               76 | Drama             |
| 6701474 | tt4148716 | Uranium                           | Uranium                           |        1990 |               49 | Documentary       |
|  206072 | tt0214901 | Magic Boat                        | Magic Boat                        |        1990 |               50 | Family,Fantasy    |
| 6694460 | tt4132614 | Sinovi                            | Sinovi                            |        1990 |               50 | Documentary,Drama |

In [ ]:
print(df_title_Basics7['genres'].value_counts())

Drama                         5157
Documentary                   4302
\N                            3267
Comedy                        2265
Comedy,Drama                   986
                              ...
Animation,Sport                  1
Animation,Music                  1
Drama,Short                      1
Documentary,Family,Musical       1
Comedy,Horror,Music              1
Name: genres, Length: 590, dtype: int64

In [ ]:
# Remplacer "\N" par "unknown" (None ne fonctionne pas) dans la série "startYear"
df_title_Basics7['genres'] = df_title_Basics7.genres.str.replace('\\N','unknown',regex = False)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
# Créer un df à partir du précédent en ne conservant que les données différentes de "unknown" de la colonnes "genres" 
# test = df_title_Basics7[df_title_Basics7['genres'] != 'unknown']
df_title_Basics8 = df_title_Basics7[df_title_Basics7['genres'] != 'unknown']

In [ ]:
print(df_title_Basics8.head())

In [ ]:
# test = df_title_Basics8['genres'].str.split(',')
df_title_Basics8['genres'] = df_title_Basics8['genres'].str.split(',')

In [ ]:
serie_explode = df_title_Basics8.genres.explode()

In [ ]:
print(serie_explode.value_counts())

In [ ]:
print(df_title_Basics8.head())

In [ ]:
df_title_Basics8.to_csv('/content/drive/MyDrive/2209-Data/Projets/Projet2/RAM/En_cours/clean_data/alexis_title_basics_v3.csv', index=False)