<a href="https://colab.research.google.com/github/AlexisSchockaert/Projet_2_Film/blob/Branche_Alexis/title_basics_v1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [168]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [169]:
import pandas as pd

In [170]:
df_title_Basics = pd.read_csv("https://datasets.imdbws.com/title.basics.tsv.gz", sep = "\t")
print(df_title_Basics.head().to_markdown())

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

|    | tconst    | titleType   | primaryTitle           | originalTitle          |   isAdult |   startYear | endYear   |   runtimeMinutes | genres                   |
|---:|:----------|:------------|:-----------------------|:-----------------------|----------:|------------:|:----------|-----------------:|:-------------------------|
|  0 | tt0000001 | short       | Carmencita             | Carmencita             |         0 |        1894 | \N        |                1 | Documentary,Short        |
|  1 | tt0000002 | short       | Le clown et ses chiens | Le clown et ses chiens |         0 |        1892 | \N        |                5 | Animation,Short          |
|  2 | tt0000003 | short       | Pauvre Pierrot         | Pauvre Pierrot         |         0 |        1892 | \N        |                4 | Animation,Comedy,Romance |
|  3 | tt0000004 | short       | Un bon bock            | Un bon bock            |         0 |        1892 | \N        |               12 | Animation,Short          |
|  4 | tt0000005 | short       | Blacksmith Scene       | Blacksmith Scene       |         0 |        1893 | \N        |                1 | Comedy,Short             |

In [171]:
df_title_Basics['startYear'].replace({r'\N': None},inplace =True)  # Remplacer "\N" par "None" dans la s√©rie "startYear"

In [172]:
df_title_Basics2=df_title_Basics[pd.notnull(df_title_Basics['startYear'])]

In [ ]:
df_title_Basics2['startYear'].value_counts()

2021    433672
2018    423596
2017    420345
2019    412182
2016    398836
         ...
1882         2
1881         2
1874         1
1883         1
1885         1
Name: startYear, Length: 150, dtype: int64

In [ ]:
print(df_title_Basics2.head().to_markdown())

|    | tconst    | titleType   | primaryTitle           | originalTitle          |   isAdult |   startYear | endYear   |   runtimeMinutes | genres                   |
|---:|:----------|:------------|:-----------------------|:-----------------------|----------:|------------:|:----------|-----------------:|:-------------------------|
|  0 | tt0000001 | short       | Carmencita             | Carmencita             |         0 |        1894 | \N        |                1 | Documentary,Short        |
|  1 | tt0000002 | short       | Le clown et ses chiens | Le clown et ses chiens |         0 |        1892 | \N        |                5 | Animation,Short          |
|  2 | tt0000003 | short       | Pauvre Pierrot         | Pauvre Pierrot         |         0 |        1892 | \N        |                4 | Animation,Comedy,Romance |
|  3 | tt0000004 | short       | Un bon bock            | Un bon bock            |         0 |        1892 | \N        |               12 | Animation,Short          |
|  4 | tt0000005 | short       | Blacksmith Scene       | Blacksmith Scene       |         0 |        1893 | \N        |                1 | Comedy,Short             |

In [173]:
test = df_title_Basics2['startYear'].astype(int)
df_title_Basics2['startYear'] = df_title_Basics2['startYear'].astype(int)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
# df_title_Basics2['startYear'] = df_title_Basics2['startYear'].apply(lambda x: eval(x.strip()))

"""
def convert_type(x):
  return eval(x.strip())
"""

In [174]:
df_title_Basics2['runtimeMinutes'].replace({r"\N" : None}, inplace = True)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [175]:
df_title_Basics3 = df_title_Basics2[pd.notnull(df_title_Basics2['runtimeMinutes'])]

In [176]:
df_title_Basics3['runtimeMinutes'] = df_title_Basics3['runtimeMinutes'].astype(int)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [98]:
df_title_Basics3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2475130 entries, 0 to 9308032
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       int64
 6   endYear         object
 7   runtimeMinutes  int64
 8   genres          object
dtypes: int64(2), object(7)
memory usage: 188.8+ MB

In [177]:
df_title_Basics3['isAdult'].replace({r'\N': None},inplace =True)

In [178]:
df_title_Basics4=df_title_Basics3[pd.notnull(df_title_Basics3['isAdult'])]

In [179]:
df_title_Basics5 = df_title_Basics4[df_title_Basics4['isAdult']==False]

In [102]:
print(df_title_Basics5.head())

      tconst titleType            primaryTitle           originalTitle  \
0  tt0000001     short              Carmencita              Carmencita
1  tt0000002     short  Le clown et ses chiens  Le clown et ses chiens
2  tt0000003     short          Pauvre Pierrot          Pauvre Pierrot
3  tt0000004     short             Un bon bock             Un bon bock
4  tt0000005     short        Blacksmith Scene        Blacksmith Scene

   isAdult  startYear endYear  runtimeMinutes                    genres
0        0       1894      \N               1         Documentary,Short
1        0       1892      \N               5           Animation,Short
2        0       1892      \N               4  Animation,Comedy,Romance
3        0       1892      \N              12           Animation,Short
4        0       1893      \N               1              Comedy,Short

In [103]:
df_title_Basics5.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2355214 entries, 0 to 9308032
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         int64
 5   startYear       int64
 6   endYear         object
 7   runtimeMinutes  int64
 8   genres          object
dtypes: int64(3), object(6)
memory usage: 179.7+ MB

In [104]:
print(df_title_Basics5.head())

      tconst titleType            primaryTitle           originalTitle  \
0  tt0000001     short              Carmencita              Carmencita
1  tt0000002     short  Le clown et ses chiens  Le clown et ses chiens
2  tt0000003     short          Pauvre Pierrot          Pauvre Pierrot
3  tt0000004     short             Un bon bock             Un bon bock
4  tt0000005     short        Blacksmith Scene        Blacksmith Scene

   isAdult  startYear endYear  runtimeMinutes                    genres
0        0       1894      \N               1         Documentary,Short
1        0       1892      \N               5           Animation,Short
2        0       1892      \N               4  Animation,Comedy,Romance
3        0       1892      \N              12           Animation,Short
4        0       1893      \N               1              Comedy,Short

In [180]:
condition1 = df_title_Basics5['startYear']>=1990
# print(df_title_Basics3[condition1])

condition2 = df_title_Basics5['startYear']<2000
# print(df_title_Basics3[condition1])

condition1et2 = (condition1) & (condition2)

df_title_Basics6 = df_title_Basics5[condition1et2]

print((df_title_Basics6).head().to_markdown())

|       | tconst    | titleType   | primaryTitle                   | originalTitle                  |   isAdult |   startYear | endYear   |   runtimeMinutes | genres                |
|------:|:----------|:------------|:-------------------------------|:-------------------------------|----------:|------------:|:----------|-----------------:|:----------------------|
| 15482 | tt0015724 | movie       | Dama de noche                  | Dama de noche                  |         0 |        1993 | \N        |              102 | Drama,Mystery,Romance |
| 40127 | tt0040844 | short       | Crossroads of Laredo           | Crossroads of Laredo           |         0 |        1995 | \N        |               30 | Short,Western         |
| 58184 | tt0059325 | movie       | Born in '45                    | Jahrgang 45                    |         0 |        1990 | \N        |              100 | Drama,Romance         |
| 58738 | tt0059900 | movie       | Wenn du gro√ü bist, lieber Adam | Wenn du gro√ü bist, lieber Adam |         0 |        1990 | \N        |               78 | Drama,Fantasy         |
| 63866 | tt0065188 | movie       | Vojtech, receny sirotek        | Vojtech, receny sirotek        |         0 |        1990 | \N        |               80 | Drama                 |

In [106]:
print(df_title_Basics6['genres'].value_counts())

Drama                          16629
Drama,Romance                  15364
Comedy                         12934
Documentary                    11763
Short                           9896
                               ...
Animation,Documentary,Music        1
Action,Biography,Western           1
Family,Musical,Romance             1
Documentary,Family,Western         1
Drama,Music,Thriller               1
Name: genres, Length: 1070, dtype: int64

In [107]:
print(df_title_Basics6['titleType'].value_counts())

tvEpisode       95930
movie           31123
short           21403
tvMovie         12549
tvSeries         9859
video            9594
tvSpecial        1758
tvMiniSeries     1542
tvShort           939
videoGame          38
Name: titleType, dtype: int64

In [181]:
condition3 = df_title_Basics5.titleType.isin(['movie'])
df_title_Basics7 = df_title_Basics6[condition3]
print((df_title_Basics7).head().to_markdown())

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

|       | tconst    | titleType   | primaryTitle                   | originalTitle                  |   isAdult |   startYear | endYear   |   runtimeMinutes | genres                |
|------:|:----------|:------------|:-------------------------------|:-------------------------------|----------:|------------:|:----------|-----------------:|:----------------------|
| 15482 | tt0015724 | movie       | Dama de noche                  | Dama de noche                  |         0 |        1993 | \N        |              102 | Drama,Mystery,Romance |
| 58184 | tt0059325 | movie       | Born in '45                    | Jahrgang 45                    |         0 |        1990 | \N        |              100 | Drama,Romance         |
| 58738 | tt0059900 | movie       | Wenn du gro√ü bist, lieber Adam | Wenn du gro√ü bist, lieber Adam |         0 |        1990 | \N        |               78 | Drama,Fantasy         |
| 63866 | tt0065188 | movie       | Vojtech, receny sirotek        | Vojtech, receny sirotek        |         0 |        1990 | \N        |               80 | Drama                 |
| 66087 | tt0067460 | movie       | My Kingdom for...              | My Kingdom For...              |         0 |        1995 | \N        |               85 | Documentary,Sport     |

In [109]:
# verifier si chaque tconst est bien distinct

count_movie_id = df_title_Basics7['tconst'].value_counts()

print(count_movie_id)

tt0015724    1
tt0298135    1
tt0299502    1
tt0299222    1
tt0299179    1
            ..
tt0119169    1
tt0119167    1
tt0119166    1
tt0119165    1
tt9916162    1
Name: tconst, Length: 31123, dtype: int64

In [110]:
df_title_Basics7.shape

(31123, 9)

In [183]:
# Suppression des colonnes "isadult" et "endYear" et 'titleType'

df_title_Basics7.drop(columns =['isAdult', 'endYear', 'titleType'], inplace = True)

KeyError: ignored

In [184]:
df_title_Basics7.sort_values(['startYear'], ascending=True, inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [185]:
print((df_title_Basics7).head().to_markdown())

|         | tconst    | primaryTitle                      | originalTitle                     |   startYear |   runtimeMinutes | genres            |
|--------:|:----------|:----------------------------------|:----------------------------------|------------:|-----------------:|:------------------|
| 6010962 | tt2539182 | Code Name 348: Onna keiji sashiba | Code Name 348: Onna keiji sashiba |        1990 |               80 | Crime             |
| 5402844 | tt2113678 | Hick's Last Stand                 | Hick's Last Stand                 |        1990 |               76 | Drama             |
| 6701474 | tt4148716 | Uranium                           | Uranium                           |        1990 |               49 | Documentary       |
|  206072 | tt0214901 | Magic Boat                        | Magic Boat                        |        1990 |               50 | Family,Fantasy    |
| 6694460 | tt4132614 | Sinovi                            | Sinovi                            |        1990 |               50 | Documentary,Drama |

In [186]:
print(df_title_Basics7['genres'].value_counts())

Drama                         5157
Documentary                   4302
\N                            3267
Comedy                        2265
Comedy,Drama                   986
                              ...
Animation,Sport                  1
Animation,Music                  1
Drama,Short                      1
Documentary,Family,Musical       1
Comedy,Horror,Music              1
Name: genres, Length: 590, dtype: int64

In [192]:
df_title_Basics7['genres'] = df_title_Basics7.genres.str.replace('\\N','unknown',regex = False)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [195]:
# test = df_title_Basics7[df_title_Basics7['genres'] != 'unknown']
df_title_Basics8 = df_title_Basics7[df_title_Basics7['genres'] != 'unknown']

In [196]:
print(df_title_Basics8.head())

            tconst                       primaryTitle  \
6010962  tt2539182  Code Name 348: Onna keiji sashiba
5402844  tt2113678                  Hick's Last Stand
6701474  tt4148716                            Uranium
206072   tt0214901                         Magic Boat
6694460  tt4132614                             Sinovi

                             originalTitle  startYear  runtimeMinutes  \
6010962  Code Name 348: Onna keiji sashiba       1990              80
5402844                  Hick's Last Stand       1990              76
6701474                            Uranium       1990              49
206072                          Magic Boat       1990              50
6694460                             Sinovi       1990              50

                    genres
6010962              Crime
5402844              Drama
6701474        Documentary
206072      Family,Fantasy
6694460  Documentary,Drama

In [ ]:
# conditionx = (df_title_Basics7['runtimeMinutes'] < 40) | (df_title_Basics7['runtimeMinutes'] > 180)

# print((df_title_Basics7[conditionx].groupby(['startYear','runtimeMinutes']).head().to_markdown()))

In [199]:
# test = df_title_Basics8['genres'].str.split(',')
df_title_Basics8['genres'] = df_title_Basics8['genres'].str.split(',')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [200]:
print(df_title_Basics8.head())

            tconst                       primaryTitle  \
6010962  tt2539182  Code Name 348: Onna keiji sashiba
5402844  tt2113678                  Hick's Last Stand
6701474  tt4148716                            Uranium
206072   tt0214901                         Magic Boat
6694460  tt4132614                             Sinovi

                             originalTitle  startYear  runtimeMinutes  \
6010962  Code Name 348: Onna keiji sashiba       1990              80
5402844                  Hick's Last Stand       1990              76
6701474                            Uranium       1990              49
206072                          Magic Boat       1990              50
6694460                             Sinovi       1990              50

                       genres
6010962               [Crime]
5402844               [Drama]
6701474         [Documentary]
206072      [Family, Fantasy]
6694460  [Documentary, Drama]

In [202]:
serie_explode = df_title_Basics8.genres.explode()

In [203]:
print(serie_explode.value_counts())

Drama          12670
Comedy          6832
Documentary     5211
Action          3965
Romance         3165
Crime           2806
Thriller        2522
Horror          1408
Adventure       1227
Fantasy          970
Family           944
Mystery          854
Sci-Fi           716
Biography        701
History          608
Music            584
War              471
Animation        434
Musical          290
Sport            264
Western           99
Reality-TV         6
Talk-Show          5
Adult              4
News               2
Short              2
Name: genres, dtype: int64

In [204]:
df_title_Basics8.to_csv('/content/drive/MyDrive/2209-Data/Projets/Projet2/RAM/En_cours/clean_data/alexis_title_basics_v3.csv', index=False)